.preview-photo-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ============= dialog ============= */
.preview-photo-wrapper .rc-dialog-content {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  background-color: unset;
}

.preview-photo-wrapper .rc-dialog-content .rc-dialog-body {
  padding: 0;
}

@media (min-width: 768px) {
  .rc-dialog {
    width: 100%;
    margin: unset;
  }
}

/* ============= preview area ============= */
.preview-photo-wrapper .preview-image {
  position: relative;
  height: 560px;
  /* background-color: rgba(0, 0, 0, 0.6); */
}
.preview-image .preview-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */

  cursor: pointer;
  width: 100%;
  height: 100%;
  /* background-color: rgba(17, 161, 255, 0.2); */
}

.preview-photo-wrapper .preview-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ============= preview area zoom ============= */
.preview-photo-wrapper .preview-image .zoom-controller {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);

  width: 190px;
  height: 32px;

  display: inline-flex;
  align-items: center;

  opacity: 0;
  transition: opacity 1s;
  transition-delay: 1s;

  text-align: center;
  background-color: rgba(41, 45, 50, 0.8);
  box-shadow: 0 2px 8px 0 rgba(3, 9, 17, 0.3);
  border-radius: 4px;
  padding: 0 4px;
}

.preview-photo-wrapper .preview-image:hover .zoom-controller {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 1s;
}

.zoom-controller .preview-icon {
  width: 24px;
  height: 20px;
  color: #aaa;
  cursor: pointer;
}
.zoom-controller .preview-icon:hover {
  color: #ccc;
}

.zoom-controller .reset {
  padding-right: 4px;
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}
.zoom-controller .zoom-slider {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.zoom-slider .rc-slider {
  width: 82px;
  margin-left: 4px;
}

.preview-photo-wrapper .left-count {
  font-family: PenroseRegular;
  text-align: center;
  margin: 12px 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 30px;
  font-weight: 400;
  position: relative;
}

.preview-photo-wrapper .left-count .left-count-index {
  color: #ffffff;
}

.preview-photo-wrapper .description {
  margin-bottom: 20px;
  position: relative;
  height: 60px;
}

/* ============= navigator ============= */
.preview-photo-wrapper .navigator {
  position: relative;
  display: flex;
  justify-content: center;
}
.preview-photo-wrapper .navigator ul {
  margin: 0;
  padding: 3px;
  list-style: none;
  height: 70px;
  overflow: hidden;
  /* overflow-x: scroll; */
  white-space: nowrap;
}

.navigator li {
  width: 64px;
  height: 64px;
  margin-right: 18px;
  border-radius: 4px;
  display: inline-block;
}

.navigator li:last-child {
  margin-right: 0;
}

.navigator li.active {
  outline: 3px solid #338bff;
}

.navigator li img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.navigator li:hover img {
  transform: scale(1.02);
}

.navigator .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;

  width: 22px;
  height: 34px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px 0 0 2px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigator .arrow:not(.arrow-disabled):hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.navigator .arrow .preview-icon {
  transform: scale(1.5);
}

.navigator .arrow.prev-arrow {
  left: 0;
}
.navigator .arrow.next-arrow {
  right: 0;
}

.navigator .arrow-disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigator-noarrow .arrow {
  display: none;
  pointer-events: none;
}

.zoom-slider
  .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: unset !important;
}

.navigator-isolate {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* ============= close ============= */
.preview-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3000;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  cursor: pointer;
}

/* ============= photo nav arrow ============= */
.photo-arrow {
  position: absolute;
  top: 50%;
  height: 150px;
  z-index: 2000;
  transform: translateY(-50%);
  cursor: pointer;

  display: flex;
  align-items: center;
}

.photo-arrow:not(.preview-arrow-disabled):hover {
  background: rgba(0, 0, 0, 0.1);
}

.preview-arrow-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.photo-arrow-prev {
  left: 20px;
}
.photo-arrow-next {
  right: 20px;
}

.photo-arrow .preview-icon {
  width: 57px;
  height: 57px;
  cursor: pointer;
}

.preview-close .preview-icon,
.photo-arrow .preview-icon {
  font-size: 2em;
  color: #aaa;
}

.photo-arrow:not(.preview-arrow-disabled):hover .preview-icon,
.preview-close:hover .preview-icon {
  color: #fff;
}
